---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant
  labels:
    app: homeassistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homeassistant
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: homeassistant
    spec:
      affinity:
       nodeAffinity:
         requiredDuringSchedulingIgnoredDuringExecution:
           nodeSelectorTerms:
           - matchExpressions:
             - key: tpu
               operator: NotIn
               values:
               - "true"
      hostNetwork: true
      containers:
        - name: homeassistant
          imagePullPolicy: "Always"
          image: homeassistant/home-assistant:latest
          ports:
          - name: http
            containerPort: 8123
            protocol: TCP
          resources:
            requests:
              ephemeral-storage: "2Gi"
            limits:
              ephemeral-storage: "4Gi"
          env:
            - name: TZ
              value: "America/Denver"
          volumeMounts:
            - name: k8s-pv01
              mountPath: /config
              subPath: homeassistant/config
      volumes:
        - name: k8s-pv01
          persistentVolumeClaim:
            claimName: synology-k8s-pv01
